@{
    ViewBag.Title = "Who we are";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Nick.  I have created this website because I have seen first hand how time consuming it is to create training sessions every day for a traveling soccer team.  I have been playing soccer since I was 6 years old and in my pinnacle played at the NCAA division 1 level.  Since graduating from Michigan State and using up my eligibility, I have taken up coaching for a non-profit organization called FC Wisconsin.  Here, I am constantly taking part in setting up training sessions a few days before the practice, and it is unorganized and communicated via email.  My goal is to centralize a spot to create training sessions for any coach and allow the ability to add, edit, and rate your training sessions and training sessions that other coaches have created, as well.</p>
