@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Soccer Start</h1>
    <p class="lead">A free web framework for building your own training sessions.</p>
    <link href="~/Content/BackgroundPic.css" rel="stylesheet" />
    <p><a href="http://localhost:61962/Home/About" class="btn btn-info btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Soccer Start gives you a powerful, intuitive way to build dynamic training sessions that
            will help any coach, whether you are a rookie or a veteran.
        </p>
        <p><a class="btn btn-info" href="http://localhost:61962/Account/Login">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Created Sessions</h2>
        <p>After signing in, you have the ability to view, add, and remove your own training sessions along with
        the ability to rate other created sessions from a community of coaches.</p>
        <p><a class="btn btn-info" href="http://localhost:61962/TrainingSessions">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Questions?</h2>
        <p>Send us a buzz.</p>
        <p><a class="btn btn-info" href="http://localhost:61962/Home/Contact">Reach out &raquo;</a></p>
    </div>
</div>