<!DOCTYPE html>
<html>
<head>
    <title>This is the title</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        <a>This is the email to a parent/guardian</a>!
    </p>
    <p style="font-size:18px;"><i>-Nick</i></p>
</body>
</html>
